{% extends 'base.html' %}

{% block title %}Log-In{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-center mt-5 shadow txt-shadow p-3">Авторизация пользователя</h3>
    <hr class="mt-5">
</div>

{% if form.errors %}
    <p>
        Your username or password is incorrect
        Please try again
    </p>
{% else %}
    <h5 class="text-center mt-5 txt-shadow ">Пожалуйста ипользуйте эту форму для входа</h5>
{% endif %}

<div class="container mt-5 login-form">
    <div class="row d-flex">
        <div class="col"></div>
        <div class="col-md-4 card shadow p-4">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input class="btn btn-primary" type="submit" value="Log-In"/></p>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}