.header {
    background-color: green;
    color: white;
    height: 60px;
    vertical-align: middle;
}

.logo {
    color: white;
    vertical-align: middle;
}

.txt-shadow {
    text-shadow: 2px 2px 6px gray;
}