{% extends 'base.html' %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5 shadow txt-shadow">Log-In</h1>
        <hr class="mt-5">
    </div>
        <h5 class="text-center mt-5 txt-shadow ">Пожалуйста ипользуйте эту форму для входа</h5>
    <div class="container mt-5">
        <div class="row d-flex">
            <div class="col"></div>
            <div class="col-md-4 card shadow p-4">
                <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Log In">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}